.products {
  background-color: #fff;
  border-radius: 0.4rem;
  padding: 5px;
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 5px rgba(173, 173, 178, 0.5);
  }
  input:focus {
    outline: 0;
    box-shadow: none;
  }
  .image {
    text-align: center;
    img {
      height: 150px;
    }
  }

  .body {
    h4 {
      font-weight: 500;
      margin: 0;
    }
    p {
      color: #adabab;
    }
  }

  span {
    font-size: 20px;
  }

  button {
    width: 98%;

    &.edit {
      background-color: #adabab !important;
      color: #ffffff;
    }
  }

  .addBtn {
    background-color: #5e8b88;
    color: #fff;
    font-weight: 500;
    i {
      color: #fff;
    }
  }
}
.few-quantities {
  border: 2px solid red;
}

.quantity {
  width: 98%;
}
