<div
  class="products mb-4 mat-elevation-z1"
  [ngClass]="{ 'few-quantities': data.AvailablePieces <= 5 }"
>
  <div class="">
    <div class="image p-1">
      <img
        [src]="data.ProductImg"
        class="img-fluid"
        alt="{{ data.ProductName }}"
      />
    </div>
    <div class="body text-center">
      <h4>{{ data.ProductName }}</h4>
      <span>{{ data.ProductPrice }} L.E</span>
    </div>
  </div>

  <div class="">
    <button
      class="btn addBtn w-100"
      *ngIf="!addButton && data.AvailablePieces > 5"
      (click)="addButton = true"
    >
      Add To Cart
      <i class="fa-solid fa-cart-shopping"></i>
    </button>
    <div class="d-flex justify-content-end" *ngIf="addButton">
      <input
        [formControl]="amount"
        [max]="data.AvailablePieces"
        min="1"
        type="number"
        class="form-control"
      />
      <button
        class="btn addBtn mx-1"
        (click)="addProduct(data); addButton = false"
      >
        Add
      </button>
    </div>
    <div *ngIf="showEditInput" class="mb-3">
      <input
        [formControl]="quantity"
        type="number"
        class="form-control"
        id="quantity"
        min="0"
        placeholder="Quantity"
      />
      <div class="d-flex">
        <button class="btn btn-danger m-1" (click)="showEditInput = false">
          cancel
        </button>
        <button class="btn btn-success m-1" (click)="onEditProd()">save</button>
      </div>
    </div>

    <button
      *ngIf="data.AvailablePieces <= 5 && !showEditInput"
      class="btn addBtn edit"
      (click)="onShowEdit(data)"
    >
      Edit quantity
    </button>
  </div>
</div>
